<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <package name="com.px.entity"></package>
    </typeAliases>
    <!--
      如果使用pagehelper 需要在这里配置  当然也可在spring中配置
    -->
    <!--<plugins>-->
        <!--<plugin interceptor="com.github.pagehelper.PageHelper">-->
            <!--<property name="dialect" value="mysql"></property>-->
        <!--</plugin>-->
    <!--</plugins>-->
</configuration>