<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <bean id="htmlviewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="suffix" value=".html"></property>
        <property name="order" value="0"></property>
        <property name="contentType" value="text/html;charset=UTF-8" />
    </bean>


    <!--配置CommonsMultipartResolver 注入ioc容器中
  id是固定写法multipartResolver
  -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"></property>
        <!--配置上传单个文件的最大值 -1表示无限值-->
        <property name="maxUploadSize" value="-1"></property>
    </bean>

    <!-- 开启注解驱动  同时会加载很多的配置类进去 -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--扫描控制类-->
    <context:component-scan base-package="com.px.controller"></context:component-scan>
    <mvc:default-servlet-handler/>
</beans>